.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navbar__link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__menu {
    display: flex;
    align-items: center;
}

.navbar__item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.nav-link {
display: flex;
justify-content: center;
align-items: center;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
}